<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ec.com.dovic.aprendiendo">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.ui.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.ui.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".updateQuestionnaire.ui.UpdateQuestionnaireActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ui.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detailQuestionaire.ui.QuestionaireActivity"
            android:label="@string/title_activity_detail_questionaire"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newQuestion.ui.QuestionActivity"
            android:label="Nueva Pregunta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".questionsComplete.ui.QuestionsCompleteActivity"
            android:label="@string/title_activity_questions_view"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".questionnaireResume.ui.QuestionnaireResumeActivity"
            android:label="@string/title_activity_questionnaire_resume"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".questionnaireResume.servicie.DonwloadIntentService" />

        <activity
            android:name=".block.ui.BlockActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_block"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".block.servicie.ServicieBlock"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".block.broadcast.BroadcastBloqueo">
            <intent-filter>
                <action android:name="broadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".myrepository.ui.MyRepositoryActivity"
            android:label="Mi Repositorio"
            android:screenOrientation="portrait" />
    </application>

</manifest>